 <section class="img">
        <img src="images/empresa.png" alt="imagen principal">

    </section>
    <main class="holder">
        <!-- <section class="img">
            <img src="img/empresa.png" alt="imagen principal">

        </section> -->
        <section>
            <p class="empresa">Todo lo que hacemos en Bioceres Semillas está inspirado en un concepto original: ser una compañía creada por productores para dar lugar a mucho más que otra marca de semillas.

                Nacimos para dar vida a cultivos capaces de lograr lo que parecía imposible. Cultivos más eficientes, tolerantes a los embates del clima y por supuesto más rentables.
                
                Trabajamos cada día para ofrecerte semillas con una genética sobresaliente y superadora en cada campaña que comienza.
                
                Hoy contamos con un amplio portfolio en semillas de trigo y soja. Ellas son el resultado del trabajo en investigación y desarrollo que venimos ejecutando desde hace más de 10 años y con resultados comprobados en las diferentes realidades de cada zona productiva de nuestro país.
                
                En estas semillas hicimos posible un gran desafío: concentrar los más avanzados desarrollos genéticos y el espíritu innovador y emprendedor de quienes llevamos adelante Bioceres Semillas.
                
                En esta campaña, sé parte de este nuevo concepto en semillas. Unite a la nueva generación de BIORINDES.</p>
        </section>
        <h2 class="joint">Empresas y Joint-Ventures vinculados</h2>
        <section class="indear">            
            <h3>INDEAR</h3>
            <P>INDEAR es la empresa de investigación y desarrollo de Bioceres. Nacida de una alianza entre Bioceres y el CONICET, cuenta con las más avanzadas plataformas de investigación en agro-biotecnología de Latinoamérica, que incluye la primera plataforma de secuenciación de ADN de alto rendimiento, disponible en Argentina.

                INDEAR alberga en sus laboratorios a grupos de investigación altamente caliﬁcados en las áreas de bioinformática, biología molecular, biología sintética y estudio de proteínas. Las áreas de I&D del Instituto se consolidan con una plataforma de cultivo de tejidos y transformación vegetal, y con un grupo multidisciplinario para el desarrollo de tecnologías.
                
                INDEAR concentra sus esfuerzos de investigación en tecnologías diseñadas para aumentar la productividad de los cultivos, incluyendo tolerancia a sequía y salinidad, resistencia a plagas y herbicidas, uso eﬁciente de nutrientes y sanidad vegetal.
                
                Con recursos humanos de nivel internacional, INDEAR es investigación y desarrollo desde la hipótesis cientíﬁca hasta la prueba a campo de las soluciones desarrolladas.</P>
        </section>

        <section class="semya">
            <h3>SEMYA</h3>
            <p>Semya es un joint-venture entre Bioceres y Rizobacter dedicado a desarrollar y comercializar globalmente productos 
                biológicos con alto valor tecnológico. Semya integra las plataformas biotecnológicas de Bioceres (a través de INDEAR), 
                con los conocimientos y capacidades en microbiología agrícola, formulado y producción de Rizobacter para el desarrollo 
                de tecnologías en soja, maíz, trigo y alfalfa. La fortaleza única de Semya consiste en el desarrollo conjunto e 
                integrado de eventos biotecnológicos, germoplasma, 
                biofertilizantes y biopesticidas para lograr una verdadera sinergia en el tratamiento de semillas.</p>
        </section>

    </main>