    <section class="img">
        <img src="images/bienvenidos.png" alt="imagen principal">

    </section>
 <main class="holder">
        <!-- <section class="img">
            <img src="img/biotech1.jpg" alt="imagen principal">

        </section> -->
        <h1 class="testimonios">Testimonios</h1>
        <section class="entrada">           
                
                    <div class="testimonio">
                        <span class="cita">Es una excelente empresa, de altísima calidad e innovadora</span>
                        <span class="autor">Juan Zamar - Los Grobo</span>
                    </div>
                    <div class="testimonio">
                        <span class="cita">Es un aliado fiel a la agricultura sustentable</span>
                        <span class="autor">Nicole Cortez - Agrotech</span>
                    </div>           

                
            
        </section>

        

    </main>