  <section class="img">
        <img src="images/nosotros.png" alt="imagen nosotros">

    </section>
<main class="holder">
        <section>
            <h2>Equipo Directivo</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/emma.jpg" alt="">
                    <h5>Emma Lepine</h5>
                    <h6>Gerente general</h6>
                    <p>
                        Gerente general es un término descriptivo para ciertos ejecutivos en una operación de negocios. 
                        Es también un título formal para ciertos ejecutivos de negocios, 
                        aunque las labores de un gerente general varían según la industria en la que se desarrolle la empresa
                    </p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/francisco.jpg" alt="">
                    <h5>Francisco Olivera</h5>
                    <h6>Gerente I+D+i</h6>
                    <p>
                        Gerente general es un término descriptivo para ciertos ejecutivos en una operación de negocios. 
                        Es también un título formal para ciertos ejecutivos de negocios, 
                        aunque las labores de un gerente general varían según la industria en la que se desarrolle la empresa
                    </p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/Lila.jpg" alt="">
                    <h5>Lila Liberatore</h5>
                    <h6>Gerente de Tecnologías</h6>
                    <p>
                        Gerente general es un término descriptivo para ciertos ejecutivos en una operación de negocios. 
                        Es también un título formal para ciertos ejecutivos de negocios, 
                        aunque las labores de un gerente general varían según la industria en la que se desarrolle la empresa
                    </p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/Julieta.jpg" alt="">
                    <h5>Julieta Volpellier</h5>
                    <h6>Gerente Comercial</h6>
                    <p>
                        Gerente general es un término descriptivo para ciertos ejecutivos en una operación de negocios. 
                        Es también un título formal para ciertos ejecutivos de negocios, 
                        aunque las labores de un gerente general varían según la industria en la que se desarrolle la empresa
                    </p>

                </div>
                <div class="persona">
                    <img src="images/nosotros/Teresa.jpg" alt="">
                    <h5>Teresa Tavares</h5>
                    <h6>Gerente Legal</h6>
                    <p>
                        Gerente general es un término descriptivo para ciertos ejecutivos en una operación de negocios. 
                        Es también un título formal para ciertos ejecutivos de negocios, 
                        aunque las labores de un gerente general varían según la industria en la que se desarrolle la empresa
                    </p>

                </div>
            </div> <!--fin de las personas-->
        </section>

    </main>